.add-employee-address {
    height: calc(100vh-55px);
    width: 100%;
    right: auto;
    left: 0px;
    top: 0px;
    background-color: white;
}

.add-employee-address-box-item {
    height: 90vh;
    width: 96%;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 4px;
    box-shadow: #888 0 2px 6px;
    overflow-y: scroll;
}

.add-employee-address-header {
    height: 55px;
    width: 96%;
    right: auto;
    left: 0px;
    top: 0px;
    display: flex;
}

.add-employee-address-panel-header {
    width: 180px;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 18px;
    color: #0c68b5;
}

.add-employee-address-hr-header {
    background: url('../Images/icon-social-network/panel-header-bg.png') repeat-x;
    background-position-y: 20px;
    width: 96%;
}

.add-employee-address-information-contact {
    width: 96%;
    display: flex;
}

.add-employee-address-family {
    width: 96%;
    display: flex;
    border-top: 1px solid #d8d8d8;
}

.add-employee-address-country {
    width: 96%;
    display: flex;
    border-top: 1px solid #d8d8d8;
}

.add-employee-address-emergency-contact {
    width: 96%;
    display: flex;
    border-top: 1px solid #d8d8d8;
}

.add-employee-address-text-left {
    width: 125px;
    font-size: 13px;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
}

.add-employee-address-text-right {
    width: 125px;
    margin-left: 20px;
    font-size: 13px;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
}

.add-employee-address-text-right2 {
    width: 125px;
    margin-left: 420px;
    font-size: 13px;
    font-family: Helvetica,Tahoma,Arial,sans-serif !important;
}

.add-employee-address-input {
    height: 24px !important;
    width: 400px;
    border: 1px solid #d8d8d8;
    border-radius: 3px 0 0 3px;
}

.add-employee-address-input2 {
    height: 24px !important;
    width: 400px;
    border: 1px solid #d8d8d8;
    border-radius: 3px 0 0 3px;
}

.add-employee-address-text-title {
    font-size: 13px;
    font-weight: bold !important;
}

.add-employee-address-check-box {
    margin-left: 20px;
}

.add-employee-address-text-button {
    margin-left: 10px;
}

.add-employee-address-text-social-network {
    width: 100px !important;
    margin-left: 0px !important;
}

.add-employee-address-icon {
    margin-left: 20px;
}

.add-employee-address-icon-facebook {
    background: url('../Images/icon-social-network/Face16.png') no-repeat;
    width: 25px;
}

.add-employee-address-icon-skype {
    background: url('../Images/icon-social-network/Skype16.png') no-repeat;
    width: 25px;
}

.add-employee-address-icon-msn {
    background: url('../Images/icon-social-network/Msn16.png') no-repeat; 
    width: 25px;
}
