* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: TahomaCustom;
    src: url('../../font/Tahoma_Regular.woff');
}

@font-face {
    font-family: Fontello;
    src: url('../../font/fontello.woff');
}

body, html {
    padding: 0;
    margin: 0;
    font-family: Arial !important;
    font-size: 13px;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    color: #fff;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
}

a {
    text-decoration: none;
}

    a:not([href]):not([tabindex]) {
        color: inherit;
        text-decoration: none;
    }
/*Clear both when you use float style property*/
.clearfix {
    clear: both;
}

::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

/*customer checkbox*/
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    /*Hide the browser's default checkbox*/
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
/*Create a custom checkbox*/
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 1px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Ẩn hiện */

.hide {
    display: none;
}
.show {
    display: block;
}