<!-- /// -->
<!-- Khung trang thêm nhân viên -->
<!-- /// -->
<div id="add-employee">
    <!-- navbar of employee -->
    <!-- Giống bên table nhân viên, Tiến Thành làm luôn-->
    <div class="tien-thanh-dat-ten"></div>

    <!-- Thông tin chung - nhập liệu -->
    <!-- Huy Hoang làm -->
    <div class="huy-hoang-dat-ten"></div>

    <!-- Thông tin liên hệ - tiến thành -->
    <div class="tien-thanh-dat-ten"></div>

    <!-- Thông tin công việc - duy anh -->
    <div class="add-employee-working">

    </div>
</div>
