<div class="pn-sub-menu">
    <!-- cot ben trai -->
    <div class="col-haft col-left">
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group">
                Công việc
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Cơ cấu tổ chức
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Vị trí công việc
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item last-child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Vai trò công việc
                </div>
            </a>
        </div>
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group CustomerVendorEmployee">
                Lương
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Khoản lương
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item" id="child-item-khach-hang">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Lý do nghỉ
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Ký hiệu chấm công
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Ca làm việc
                </div>
            </a>            
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Sản phẩm
                </div>
            </a>            
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Ngạch bậc lương
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item last-child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Biểu tính thuế thu nhập
                </div>
            </a>
        </div>
    </div>
    <!-- cot ben phai -->
    <div class="col-haft col-right">
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group OtherDictionary">
                Khác
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nhà cung cấp
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Đồng phục & bảo hộ lao động
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Cấp độ
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Kỹ năng
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Tiêu chí đánh giá
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Thủ tục
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nơi đăng kí khám chữa bệnh
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item last-child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Thiết lập mẫu trộn
                </div>
            </a>
        </div>
    </div>
</div>
<div class="clear-fix"></div>