<div class="pn-sub-menu">
    <!-- cot ben trai -->
    <div class="col-haft col-left">
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group">
                Công việc
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Thực đơn
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nhóm thực đơn
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Sở thích phục vụ
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item last-child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nhóm sở thích phục vụ
                </div>
            </a>
        </div>
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group CustomerVendorEmployee">
                Lương
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nhân viên
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item" id="child-item-khach-hang">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Khách hàng
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nhóm khách hàng
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nhà cung cấp
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item last-child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nhóm nhà cung cấp
                </div>
            </a>
        </div>
    </div>
    <!-- cot ben phai -->
    <div class="col-haft col-right">
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group InventoryItemMaterial">
                Nguyên vật liệu
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nguyên vật liệu
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Nhóm nguyên vật liệu
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Kho
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item last-child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Đơn vị tính
                </div>
            </a>
        </div>
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group OtherDictionary">
                Khác
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Ca làm việc
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Két đựng tiền
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Bếp/Bar
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Lý do hủy món
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Lý do hủy order
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Mục thu/chi
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item last-child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Thẻ ngân hàng/ví điện tử
                </div>
            </a>
        </div>
    </div>
</div>
<div class="clear-fix"></div>