<div class="pn-sub-menu">
    <!-- cot ben trai -->
    <div class="col-haft col-left">
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group">
                Hồ sơ nhân viên
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Hồ sơ
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Hợp đồng
                </div>
            </a>
        </div>
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group CustomerVendorEmployee">
                Lương - Thuế - Bảo hiểm
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Quản lý thời gian
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item" id="child-item-khach-hang">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Chấm công
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Tiền lương
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Thuế
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item last-child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Bảo hiểm
                </div>
            </a>
        </div>
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group">
                Tuyển dụng - Tiếp nhận
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Tuyển dụng
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Tiếp nhận
                </div>
            </a>
        </div>
    </div>
    <!-- cot ben phai -->
    <div class="col-haft col-right">
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group InventoryItemMaterial">
                Khen thưởng - sự cố
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Khen thưởng
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Sự cố
                </div>
            </a>
        </div>
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group OtherDictionary">
                Đánh giá - Đào tạo - Phúc lợi
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Đánh giá
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Đào tạo
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Phúc lợi
                </div>
            </a>
        </div>
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group">
                Thủ tục
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Công tác
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Đồng phục & bảo hộ lao động
                </div>
            </a>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Thôi việc
                </div>
            </a>
        </div>
        <!-- một cell -->
        <div class="item">
            <!-- tiêu đề -->
            <div class="group">
                Hồ sơ năng lực
            </div>
            <!-- một item con -->
            <a href="#" class="child-item">
                <div class="child-node last-node">
                    <div class="line line-1 last-line"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="child-content">
                    Hồ sơ năng lực
                </div>
            </a>
        </div>
    </div>
</div>
<div class="clear-fix"></div>